@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #252525;
    font-family: 'Poppins', sans-serif;
}

nav{
    color: #fff;
    position: fixed;
}

ul{
    list-style-type: none;
    text-align: center;
    margin: 25px;
}

li{
    display: inline;
    margin: 25px;
}

section{
    color:#fff;
    font-size: 120px;
    align-items: center;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.contenedor{
    width: 400vh;
}